.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.80rem;
    background-image: map-get($estilos , colorPagina);
    height: 5em;
    padding: 10px;
    margin: 5px;
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
