@media (max-width: 768px) {
    .centrar {
        margin-left: 38px;
    }
    h1{
        font-size: 6rem;
    }
    
    
    }
    @media (max-width: 375px){  /*esto no se porque no me funicona*/
        .logo{
           display: none;
       }
    }

    
    