@media (max-width: 768px) {
    .centrar {
        margin-left: 45px;
    }
    h1{
        font-size: 6rem;
    }
    
    
    }
    @media (max-width: 768px){ 
        .logoq {
           display: none;
       }
    }

   